/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.colors {
    background-image: url('img/cmbl_logo_less_contrast.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.logo{
    max-height: 50px;
}
.text-title{
    color: white;
}
.border-title{
    border-color: #8faadc!important
}
.bg-title{
    background-color: #8faadc;
}
.o-1{
    opacity: 0.9;
}
.o-2{
    opacity: 0.8;
}
.embed__header{
    background-color: transparent;
}

.cleanup p{display: inline;}