/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.colors {
    background-image: url('./bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.logo{
    max-height: 50px;
}
.o-1{
    opacity: 0.8;
}
.embed__header{
    background-color: transparent;
}